.row
  .col-xs-12
    %h1 Products
    %table.table
      %thead
        %tr
          %th Name
          %th Price
          %th{ colspan: '2' }
      %tbody
        - @products.each do |product|
          %tr
            %td
              = link_to product.name, product
            %td
              = product.price
            %td
              = link_to 'edit', edit_product_path(product)
            %td
              = link_to 'destroy', product_path(product), method: :delete

= paginate @products

%p
  = link_to 'New product', new_product_path
