.row
  .col-xs-12
    %h1= %(Details of product "#{@product.name}")
    %h4 Price
    %p= humanized_money_with_symbol @product.price
    %h4 Tags
    %table.table
      %thead
        %tr
          %th Title
          %th
      %tbody
        - @product.taggings.each do |tagging|
          %tr
            %td= tagging.tag.title
            %td
              = link_to 'remove', tagging_path(tagging), class: 'btn btn-default', method: :delete

    %p
      = link_to 'edit', edit_product_path, class: 'btn btn-default'
      = link_to 'delete', product_path, class: 'btn btn-default', method: :delete
      = link_to 'index', products_path, class: 'btn btn-default'

%h4 New Tag
= simple_form_for([@product, Tag.new]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title

  .form-actions
    = f.button :submit
